<nav class="navbar">

    <div class="nav-container">

        <a href="index.html" class="nav-logo">
            MAGU
        </a>

        <button class="menu-toggle" id="menuToggle">

            <i class="fas fa-bars"></i>

        </button>

        <div class="nav-links" id="navLinks">

            <a href="index.html">HOME</a>
            <a href="animation.html">ANIMATION</a>
            <a href="story-telling.html">STORY-TELLING</a>
            <a href="storyboard.html">STORYBOARD</a>
            <a href="art.html">ART</a>
            <a href="contact.html">CONTACT</a>

        </div>

    </div>

</nav>